@import 'primeicons/primeicons.css';
@import '../../../libs/shared/theme/src/lib/global-styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  color: #2a2420;
  background: #fbf8f3;
}

app-root {
  display: block;
  min-height: 100%;
}
